body {
    background-size: cover;
}

.heading {
    width:100%;
    text-align: left;
}

.heading button {
    float:right;
    border:1px solid white;
}

.heading h3 {
    font-size:22px;
}

#copyright_footer {
    position: fixed;
    width:100%;
    bottom:0;
    background-color: black;
    color:white;
    line-height: 3;
}

#start, #status, #restart {
    font-size: 22px;
}

canvas {
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}